.btnPag {
    padding: 5px;
    border-radius: 5px;
    background-color: #FFCC33;
    border-color: rgb(235, 174, 19);
    color: rgb(131, 89, 33);
    font-family: 'inputMono', sans-serif;
    font-weight: 700;
    font-size:medium;
}

.btnPag:hover{
    background-color: #07648f;
    border-color: goldenrod;
    color: antiquewhite;
}